<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="importApp.mapper.FileUploadMapper">
    <insert id="insertActivity" parameterType="importApp.entity.ActivityEntity">
        INSERT INTO activities (user_id, name, description, date, start_time, end_time, created_by, created_at, updated_by, updated_at)
        VALUES
        (#{userId}, #{name}, #{description}, #{date}, #{startTime}, #{endTime}, #{createdBy}, #{createdAt}, #{updatedBy}, #{updatedAt})
    </insert>
</mapper>

