<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="importApp.mapper.TaskMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="taskId">
        INSERT INTO tasks (task_name, description, due_date, priority, status, project_id, user_id)
        VALUES (#{taskName}, #{description}, #{dueDate}, #{priority}, #{status}, #{projectId}, #{userId})
    </insert>
</mapper>