<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="importApp.mapper.TaskMapper">
    <resultMap id="TaskEntityResultMap" type="importApp.entity.TaskEntity">
        <id property="taskId" column="task_id" />
        <result property="projectId" column="project_id" />
        <result property="userId" column="user_id" />
        <result property="taskName" column="task_name" />
        <result property="description" column="description" />
        <result property="dueDate" column="due_date" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <result property="priority" column="priority" />
        <result property="status" column="status" />
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="taskId">
        INSERT INTO tasks (task_name, description, due_date, priority, status, project_id, user_id)
        VALUES (#{taskName}, #{description}, #{dueDate}, #{priority}, #{status}, #{projectId}, #{userId})
    </insert>

    <select id="findTaskByUserId" parameterType="long" resultMap="TaskEntityResultMap">
        SELECT * FROM tasks
        WHERE user_id = #{userId}
    </select>
</mapper>