<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="importApp.mapper.UserMapper">

    <insert id="insertUser" parameterType="importApp.entity.UserEntity" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO users (user_name, password, email, provider, google_id, profile_image_url, is_email_verified)
        VALUES (#{username}, #{password}, #{email}, #{provider}, #{googleId}, #{profileImageUrl}, #{isEmailVerified})
    </insert>

    <select id="findByEmail" resultType="importApp.entity.UserEntity">
        SELECT * FROM users 
        WHERE email = #{email} 
        AND is_deleted = false
    </select>

    <select id="findByUsername" resultType="importApp.entity.UserEntity">
        SELECT * FROM users 
        WHERE user_name = #{username} 
        AND is_deleted = false
    </select>

    <select id="findById" resultType="importApp.entity.UserEntity">
        <!-- 
        注意：MyBatisのmap-underscore-to-camel-caseが効かないため、明示的にエイリアスを指定しています
        本来はSELECT *で動くべきですが、user_name -> username のマッピングが自動で行われないため冗長な記述になっています
        TODO: 将来的にResultMapまたはフィールド名の統一を検討
        -->
        SELECT user_id,user_name as username, email, password, provider, google_id as googleId, 
               profile_image_url as profileImageUrl, is_email_verified as isEmailVerified, 
               ai_daily_limit as aiDailyLimit, ai_monthly_limit as aiMonthlyLimit, is_deleted as isDeleted
        FROM users 
        WHERE user_id = #{id} 
        AND is_deleted = false
    </select>

    <update id="markUserAsDeleted">
        UPDATE users 
        SET is_deleted = true 
        WHERE user_id = #{id} 
        AND is_deleted = false
    </update>

    <update id="updatePassword">
        UPDATE users SET password = #{newPassword} WHERE user_id = #{userId}
    </update>

    <select id="findByGoogleId" resultType="importApp.entity.UserEntity">
        SELECT * FROM users 
        WHERE google_id = #{googleId} 
        AND provider = 'GOOGLE'
        AND user_id IS NOT NULL
        AND is_deleted = false
    </select>
    
    <update id="updateUser" parameterType="importApp.entity.UserEntity">
        UPDATE users 
        <set>
            <if test="username != null">user_name = #{username},</if>
            <if test="email != null">email = #{email},</if>
            <if test="provider != null">provider = #{provider},</if>
            <if test="googleId != null">google_id = #{googleId},</if>
            <if test="profileImageUrl != null">profile_image_url = #{profileImageUrl},</if>
            <if test="isEmailVerified != null">is_email_verified = #{isEmailVerified}</if>
        </set>
        WHERE user_id = #{user_id}
    </update>

</mapper>