<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="importApp.Mapper.FileUploadMapper">-->
<!--    <insert id="insertTask">-->
<!--        INSERT INTO tasks (task_name, description, due_date, priority, status, project_id, user_id)-->
<!--        VALUES-->
<!--        <foreach collection="tasks" item="task" separator=",">-->
<!--            (#{task.taskName}, #{task.description}, #{task.dueDate}, #{task.priority}, #{task.status}, #{task.projectId}, #{task.userId})-->
<!--        </foreach>-->
<!--    </insert>-->
<!--</mapper>-->


<!--org.apache.ibatis.binding.BindingException: Invalid bound statement (not found): が出てMpper認識しないため、
 一旦インターフェースに@Insertで実装-->